.MainContainer {
    /*background-color: #17A2B8;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SelectContainer {
    padding-bottom: 10px;
    margin-right: 10px; /* Add some margin between containers */
}
.FilterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*background-color: #17A2B8;*/
    align-items: center;
    border-radius: 10px;
    padding:20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.TitleContainer {
    font-size: xx-large;
}
.AstromonContainer {
    /*background-color: #17A2B8;*/
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top:10px;
    padding-bottom: 10px;
    /*flex-wrap: wrap;*/
    justify-content: center;
    /*background-color: #17A2B8;*/
    align-items: center;
    /*border-radius: 10px;*/
    /*padding:20px;*/
    margin-top: 20px;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}
.IndividualAstromonContainer{
    width: 100%;
    min-width: 475px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-around;*/
    margin-bottom: 10px;
}
.AstromonImage {
    height: 40px;
    /*position: absolute;*/
    width: 40px;

}
.StatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    justify-content: center;
}
.NameContainer {
    display: none;
}
.pagination {
    color: red;
}
.AstromonImageContainer {

}
.AstromonWrapperContainer{
    height: 40px;
    /*position: absolute;*/
    width: 40px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.AstromonFrame {
    height: 43px;
    position: absolute;
    width: 43px;
}
.AstromonElement {
    width: 15px;
    height: 15px;
    /*position: absolute;*/
    transform: translate(-15px, 20px);
}
.AstromonStar {
    width: 12px;
    height: 12px;

}
.AstromonStarContainer {
    transform: translate(0px, -25px);
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
}
@media (min-width: 768px){
    .StatContainer {
        font-size: large;
    }
    .NameContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
        justify-content: center;
        margin-top: 10px;
        text-align: center;
        /*background-color: #17A2B8;*/
    }
    .AstromonImage {
        height: 60px;
        width: 60px;
    }
    .AstromonWrapperContainer{
        height: 60px;
        /*position: absolute;*/
        width: 60px;
        border-radius: 10px;
    }
    .AstromonFrame {
        height: 63px;
        width: 63px;
    }
    .AstromonElement {
        width: 20px;
        height: 20px;
        /*position: absolute;*/
        transform: translate(-22px, 30px);
    }
    .AstromonStar {
        width: 17px;
        height: 17px;
    }
    .AstromonStarContainer {
        transform: translate(0px, -35px);
    }
}

