.tableQuery {
    display: flex;
    flex-direction: column;
}
.tableCellCenter {
    text-align: center;
}
.query {
    display: none;
}
@media (min-width: 768px) {
    .query {
        display: inline-block;
    }
    .tableQuery {
        display: table-row;
    }
}