.cell {
    text-align: center;
    width:100%;
}
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #4CAF50;
}
@media (min-width: 768px) {
    .row {
        display: table-row;
    }
    .cell {
        width:30%;
    }
}