.tableQuery {
    display: flex;
    flex-direction: column;
}
.tableCellCenter {
    text-align: center;
}
.query {
    display: none;
}
.cell {
    padding-top: 20px;
    padding-bottom: 20px;
}
.row {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .query {
        display: inline-block;
    }
    .tableQuery {
        display: table-row;
    }
    .cell {
        width:25%;
    }
    .row {
        display: table-row;
    }
}