<div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-left: auto;margin-right: auto;">
    <strong>Failure!</strong> <%= message.error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
