<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-left: auto;margin-right: auto;">
    <strong>Success!</strong> <%= message.success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
