.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 100px;
}

.pagination a {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.pagination a:hover {
    background-color: #eee;
}

.pagination .selectedLink {
    background-color: #555555;
    color: #fff;
}
