.formContainer {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

.textInput,
.dropdown {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    background: #fff url('https://example.com/path/to/your/image.png') no-repeat right 10px center;
    background-size: 20px;
    /* Adjust as needed */
    padding: 10px 40px 10px 10px;
}

.dropdown {
    position: relative;
}

.submitButton {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.submitButton:hover {
    background-color: #45a049;
}
 .headTitle {
     text-align: center;
 }
